* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 1215px;
  }

header .title {
    margin-top: 20px;
    max-width: 945px;
    padding: 19px 0;
    text-align: center;
    font-size: 55px;
    border-bottom: 1px solid #000;
}