header .title {
    font-family: "Poppins", sans-serif;
    margin: auto;
    max-width: 1215px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 945px;
    padding: 19px 0;
    text-align: center;
    font-size: 55px;
    border-bottom: 1px solid #000;
}