* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 1215px;
  }

.menu {
    position:relative;
    margin:auto;
    margin-top:20px;
    text-align: center;
    font-family: 'Roboto';
}

.opsi {
    margin-top: 20px;
    margin-bottom: 20px;
}

.klik {
    font-size: 21px;
    background: rgb(0, 153, 180);
    border-radius: 9px;
    padding: 7.5px 10px;
    color: white;
    transition: all 550ms ease;
    cursor: pointer;
    border: none;
}

.klik:hover {
    box-shadow: inset 255px 0 0 0 #33da2d;
    color: black;
    font-weight: bold;
}